*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  background: rgb(18,18,18);
  height: 800px;
  display: flex;
}

.gradient-background{
  /*https://cssgradient.io/*/
  background: linear-gradient(0deg, rgba(18,18,18,1) 0%,  rgba(17,164,237,1) 100%);
  height: 500px;
  width: 86%;
  position: absolute;
  left: 188px;
}

.flex{
  display: flex;
}

header{
  display: flex;
  padding-top: 80px;
  padding-left: 40px;
}

header .capa{
  width: 200px;
  height: 200px;
  /* https://html-css-js.com/css/generator/box-shadow*/
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.32);
  margin-right: 35px;
}

header .titulos{
  margin-top: 60px;
  color: white;
}

.titulos h1{
  font-size: 40px;
}

.titulos h3, .titulos h5, .titulos h1{
  margin-bottom: 10px;
}

.titulos span{
  opacity: 0.6;
}

.icons{
  margin-left: 36px;
  margin-top: 40px;
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.white-icon{
  align-self: center;
}

.header-list{
  margin: 0 5%;
  margin-top: 50px;
  color: #C8C9CF;
  display: flex;
  justify-content: space-between;
}

.header-list .first p{
  margin-right: 10px;
}

.header-list  p{
  font-size: 14px;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 0.5px solid #c8c9cf38;
  margin: 3px auto;
  width: 95%;
  padding: 0;
}

.list-item{
  margin: 0 5%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #C8C9CF;
}

.list-item .first > p{
  margin-right: 25px;
  align-self: center;
}

.list-item .first{
  width: 50%;
}

.list-item .album{
  width: 45%;
}
.list-item .list-icons{
  width: 5%;
}



.list-item .list-icons .delete-icon{
  margin-left: 15px;
}

