.navtop{
    background: #121212;
    color: #F3F3F3;
    font-weight: bold;
}

ul.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-list li{
    padding: 12px 16px;
    margin: 4px 2px;
    border-radius: 6px;
}

.nav-list li:hover{
    background-color: #333333;
}

